---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/mariastenquist/repos?client_id=GITHUB_KEY&client_secret=GITHUB_SECRET
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1494474543'
      Etag:
      - W/"be483ad5e550c854a2a8577d4505e96c"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/8611986/repos?client_id=GITHUB_KEY&client_secret=GITHUB_SECRET&page=2>;
        rel="next", <https://api.github.com/user/8611986/repos?client_id=GITHUB_KEY&client_secret=GITHUB_SECRET&page=3>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":78129636,"name":"advanced_enums","full_name":"mariastenquist/advanced_enums","owner":{"login":"mariastenquist","id":8611986,"avatar_url":"https://avatars1.githubusercontent.com/u/8611986?v=3","gravatar_id":"","url":"https://api.github.com/users/mariastenquist","html_url":"https://github.com/mariastenquist","followers_url":"https://api.github.com/users/mariastenquist/followers","following_url":"https://api.github.com/users/mariastenquist/following{/other_user}","gists_url":"https://api.github.com/users/mariastenquist/gists{/gist_id}","starred_url":"https://api.github.com/users/mariastenquist/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mariastenquist/subscriptions","organizations_url":"https://api.github.com/users/mariastenquist/orgs","repos_url":"https://api.github.com/users/mariastenquist/repos","events_url":"https://api.github.com/users/mariastenquist/events{/privacy}","received_events_url":"https://api.github.com/users/mariastenquist/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/mariastenquist/advanced_enums","description":null,"fork":false,"url":"https://api.github.com/repos/mariastenquist/advanced_enums","forks_url":"https://api.github.com/repos/mariastenquist/advanced_enums/forks","keys_url":"https://api.github.com/repos/mariastenquist/advanced_enums/keys{/key_id}","collaborators_url":"https://api.github.com/repos/mariastenquist/advanced_enums/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/mariastenquist/advanced_enums/teams","hooks_url":"https://api.github.com/repos/mariastenquist/advanced_enums/hooks","issue_events_url":"https://api.github.com/repos/mariastenquist/advanced_enums/issues/events{/number}","events_url":"https://api.github.com/repos/mariastenquist/advanced_enums/events","assignees_url":"https://api.github.com/repos/mariastenquist/advanced_enums/assignees{/user}","branches_url":"https://api.github.com/repos/mariastenquist/advanced_enums/branches{/branch}","tags_url":"https://api.github.com/repos/mariastenquist/advanced_enums/tags","blobs_url":"https://api.github.com/repos/mariastenquist/advanced_enums/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/mariastenquist/advanced_enums/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/mariastenquist/advanced_enums/git/refs{/sha}","trees_url":"https://api.github.com/repos/mariastenquist/advanced_enums/git/trees{/sha}","statuses_url":"https://api.github.com/repos/mariastenquist/advanced_enums/statuses/{sha}","languages_url":"https://api.github.com/repos/mariastenquist/advanced_enums/languages","stargazers_url":"https://api.github.com/repos/mariastenquist/advanced_enums/stargazers","contributors_url":"https://api.github.com/repos/mariastenquist/advanced_enums/contributors","subscribers_url":"https://api.github.com/repos/mariastenquist/advanced_enums/subscribers","subscription_url":"https://api.github.com/repos/mariastenquist/advanced_enums/subscription","commits_url":"https://api.github.com/repos/mariastenquist/advanced_enums/commits{/sha}","git_commits_url":"https://api.github.com/repos/mariastenquist/advanced_enums/git/commits{/sha}","comments_url":"https://api.github.com/repos/mariastenquist/advanced_enums/comments{/number}","issue_comment_url":"https://api.github.com/repos/mariastenquist/advanced_enums/issues/comments{/number}","contents_url":"https://api.github.com/repos/mariastenquist/advanced_enums/contents/{+path}","compare_url":"https://api.github.com/repos/mariastenquist/advanced_enums/compare/{base}...{head}","merges_url":"https://api.github.com/repos/mariastenquist/advanced_enums/merges","archive_url":"https://api.github.com/repos/mariastenquist/advanced_enums/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/mariastenquist/advanced_enums/downloads","issues_url":"https://api.github.com/repos/mariastenquist/advanced_enums/issues{/number}","pulls_url":"https://api.github.com/repos/mariastenquist/advanced_enums/pulls{/number}","milestones_url":"https://api.github.com/repos/mariastenquist/advanced_enums/milestones{/number}","notifications_url":"https://api.github.com/repos/mariastenquist/advanced_enums/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/mariastenquist/advanced_enums/labels{/name}","releases_url":"https://api.github.com/repos/mariastenquist/advanced_enums/releases{/id}","deployments_url":"https://api.github.com/repos/mariastenquist/advanced_enums/deployments","created_at":"2017-01-05T16:33:15Z","updated_at":"2017-01-05T16:33:15Z","pushed_at":"2017-01-05T16:33:15Z","git_url":"git://github.com/mariastenquist/advanced_enums.git","ssh_url":"git@github.com:mariastenquist/advanced_enums.git","clone_url":"https://github.com/mariastenquist/advanced_enums.git","svn_url":"https://github.com/mariastenquist/advanced_enums","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":78129955,"name":"advanced_enums-1","full_name":"mariastenquist/advanced_enums-1","owner":{"login":"mariastenquist","id":8611986,"avatar_url":"https://avatars1.githubusercontent.com/u/8611986?v=3","gravatar_id":"","url":"https://api.github.com/users/mariastenquist","html_url":"https://github.com/mariastenquist","followers_url":"https://api.github.com/users/mariastenquist/followers","following_url":"https://api.github.com/users/mariastenquist/following{/other_user}","gists_url":"ht[...]
